/*@import '../home-scripts/projects-style-view-transition.css';*/
*{
    box-sizing: border-box;
}
body{
    /*overflow: clip;*/
    display: flex;
    height: 100dvh;
    width: 100dvw;
    align-items: stretch;
}
canvas-recorder{
    position: fixed;
    bottom: var(--space-4);
    right: var(--space-4);
    margin-block-end: var(--space-4);
}
toast-message{
    margin-block-end: var(--space-4);
}