@import "../../base.css";
@import "../../css/markdown.css";
@import "./rouge-github-dark.css" (prefers-color-scheme: dark);
@import "./rouge-github-light.css" (prefers-color-scheme: light);

.highlight, .highlight .w {
    background: transparent;
}

p {
    margin-block: var(--space-3)
}

body {
    font-family: var(--font-family-sans-serif);
}

main {
    position: relative;
    margin-inline: var(--space-2);
    anchor-name: --main-content;
    anchor-scope: --main-content;
}

.blog-cont {
    --max-content-width: 800px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--max-content-width), 1fr));
    gap: var(--space-4);
    padding-block: var(--space-6);
    justify-items: center;

    @media (orientation: portrait) {
        display: flex;
        flex-direction: column;
    }
}

.blog-card {
    --avatar-size: 3em;
    background-color: var(--component-base);
    border: 1px solid var(--component-border);
    border-radius: var(--radius-xl);
    padding: var(--space-4);
    transition: transform var(--transition-normal),
    box-shadow var(--transition-normal);
    max-width: min(100%, var(--max-content-width));
    box-sizing: border-box;
    @media (orientation: portrait) {
        padding: var(--space-2);
    }
    figure {
        margin-inline: calc(-1 * var(--space-4));
    }

    .card-code {
        position: relative;
        margin-block-start: var(--space-2);
    }

    .card-excerpt code {
        white-space: pre-wrap;
    }

}

/* --------------- */

header {
    grid-area: header;
    display: grid;
    gap: var(--space-1);
    grid-template-columns: var(--avatar-size) 1fr max-content;
    /*grid-template-rows: repeat(min-content);*/
    margin-block-end: var(--space-4);

    .author-avatar {
        grid-row: 1 / 3;

    }
    .post-category {
        grid-row: 3;
    }
    .post-create {
        grid-column: 3;
        grid-row: 1;
    }
    .post-title {
        grid-column: 2;
        grid-row: 1;

        text-transform: capitalize;
    }
    .post-tags {
        display: flex;
        flex-wrap: wrap;
        grid-row: 2;
        grid-column: 2;
        gap: var(--space-2);
    }
    .post-category {
        grid-row: 2;
    }

    .post-tag, .post-category {
        color: var(--text-muted);
        display: inline-flex;
        font-size: var(--font-size-xs);
        gap: var(--space-1);
        letter-spacing: var(--font-letterspacing-3);
        place-items: center;
        text-transform: uppercase;
        background-color: var(--component-bg);
        border: 1px solid var(--component-border);
        /*border-radius: 20% / 100%;*/
        padding: var(--space-1);
        padding-inline: var(--space-2);
        text-box-edge: ex alphabetic;
        text-box-trim: trim-both;
        height: 1em;
        box-sizing: content-box;
    }
    .post-category:before {
        --_color: var(--neon-cyan);
        text-transform: uppercase;
        background: var(--_color);
        border-radius: var(--radius-round);
        box-shadow: 0 0 10px hsl(from var(--_color) h s l / 75%);
        content: "";
        display: inline-block;
        height: 1ex;
        width: 1ex;
    }

    .timeago {
        font-size: var(--font-size-sm);
    }
}

img[src=""] {
    display: none;
}
