---
layout: default
title: Blog
styles:
- ./blog.css
- ./blog-mobile.css
---
<script type="module" src="{{ site.baseurl }}/src/components/index.js"></script>

{% assign posts = site.posts %}
{% assign grouped = posts | group_by_exp: "post", "post.date | date: '%Y %B'" %}
<nav>
    <a href="../../feed.xml" class="rss-link">
       <img-svg src="../../assets/icons/rss.svg"></img-svg>
    </a>
</nav>
{% for group in grouped %}
<h2>{{ group.name }}</h2>
<section class="blog-section">
    {% for post in group.items %}

    <article class="blog-card">
        {% include post-header.liquid post=post no_title=true %}

        <div class="card-content card-excerpt">
            {{ post.title }}... {{ post.excerpt }}


        </div>
        {% if post.code_html or post.code_css or post.code_js %}
        <div class="card-code">
            <code-tabs show-result mode="demo">
                <code slot="html">
                    {{ post.code_html }}
                </code>
                <code slot="css">
                    {{ post.code_css }}
                </code>
                <code slot="js">
                    {{ post.code_js }}
                </code>
            </code-tabs>
        </div>
        {% endif %}

        <a href="{{ site.baseurl }}{{ post.url }}">read more</a>

    </article>
    {% endfor %}
</section>
{% endfor %}

<script src="https://unpkg.com/timeago.js@4.0.2/dist/timeago.min.js"></script>
<script>
    timeago.render(document.querySelectorAll('time.timeago'))
</script>
