---
layout: default
title: Blog
styles:
- ./blog.css
---
<script type="module" src="{{ site.baseurl }}/src/components/fancy-code-tabs.component.js"></script>

{% assign posts = site.posts %}
{% assign grouped = posts | group_by_exp: "post", "post.date | date: '%Y %B'" %}
{% for group in grouped %}
    <h2>{{ group.name }}</h2>
    <section class="blog-grid">
        {% for post in group.items %}
            {% assign author = site.authors | where: "name", post.author | first %}

            <article class="blog-card">
                <header>
                    <img src="{{ author.avatar | relative_url }}" alt="{{ author.display_name }}"
                         title="{{ author.display_name }}" class="author-avatar">


                    <h3 class="post-title">{{ post.title }}</h3>
                    <div class="post-categories">
                        {% for category in post.categories %}
                            <span class="post-category" data-color="{{ category }}">{{ category }}</span>
                        {% endfor %}
                    </div>
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <time
                            class="timeago post-create"
                            datetime="{{ post.date | date_to_xmlschema }}"
                            title="{{ post.date | date: '%B %d, %Y %H:%M' }}">
                    </time>

                </header>
                <figure>
                    <img src="{{ post.image | relative_url }}" alt="" class="post-image">
                </figure>
                <div class="card-content">
                    <p class="card-excerpt">{{ post.excerpt }}</p>
                </div>
                <div class="card-code">
                    <code-tabs show-result data-visible="css js">
                        <code slot="html">
                            {{ post.code_html }}
                        </code>
                        <code slot="css">
                            {{ post.code_css }}
                        </code>
                        <code slot="js">
                            {{ post.code_js }}
                        </code>
                    </code-tabs>
                </div>



            </article>
        {% endfor %}
    </section>
{% endfor %}

<script src="https://unpkg.com/timeago.js@4.0.2/dist/timeago.min.js"></script>
<script>
    timeago.render(document.querySelectorAll('time.timeago'))
</script>
