@import '../../base.css';
@import '../project-base.css';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-background);

}
#canvas1{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;

}
canvas.with-transparency-background{
    mix-blend-mode: color-dodge;
}
canvas.with-opaque-background{
    mix-blend-mode: screen;
}

h1{
    color: white;
    font-size:  8dvw;
    font-family:Impact, cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    border-top: 5px solid white;
}
img{
    display: none;
}