@import "../../base.css";
@import "../project-base.css";

canvas {
    --shade-0: color-mix(in srgb, var(--color-primary) 60%, red);
    --shade-1: color-mix(in srgb, var(--color-primary) 60%, yellow);
    --shade-2: color-mix(in srgb, var(--color-primary) 60%, blue);
}