@import "../libs/highlight/styles/github-dark.css";
@import "../../base.css";
@import "../../css/toggle.checkbox.cmp.css";

:host {
    display: flex;
    flex-direction: column;
    --outline: 2px solid var(--component-border);
    --outline-dashed: 2px dashed var(--component-border);
    /*--outline: none;*/
    --background-color: hsl(from var(--color-foregrowund) h s calc(l - 20) / 50%);
    border: var(--outline);

    /*margin-block-start: var(--space-4);*/
    border-radius: var(--radius-md);
    overflow: hidden;
    --shadow-color: var(--darker-shade);
    box-shadow: var(--shadow-md);

    iframe {
        display: block;
        /*width: 100%;*/
        /*width: -webkit-fill-available;*/
        background-color: var(--background-color);
        border: var(--outline);
    }
    [role=tablist] {
        display: flex;
        background-color: var(--darker-shade-2);
        padding: var(--space-1);
    }
    [role=tab] {
        font-size: var(--font-size-sm);
        padding: var(--space-2) var(--space-3);
        border-radius: var(--radius-sm);
        background: none;
        border: none;
        color: var(--text-primary);
        cursor: pointer;
        flex: unset;

        input[type=checkbox] {
            display: none;
        }

        &:has(:checked) {
            background-color: var(--green-shade);
            border-bottom: 2px solid var(--color-primary);
        }

        &:hover:has(:checked) {
            background-color: var(--lighther-shade);
        }
    }
    [role=tablist] .right{
        display:inherit;
        gap: inherit;
        margin-inline-start:auto;
    }

    /* Layout */
    .tab-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: auto;
        padding: var(--space-4);
        background-color: var(--darker-shade);
        /*gap: var(--space-4);*/
        justify-content: center;
        @media (orientation: portrait) {
            flex-direction: column;
        }
        pre, iframe {
            flex: 1 1 0;
            min-block-size: fit-content;
            height: auto;
            border-radius: var(--radius-md);

        }

        code {
            min-block-size: fit-content;
        }
        pre {
            border-inline-end: var(--outline-dashed);
            @media (orientation: portrait) {
                border-inline-end: none;
                border-block-end: var(--outline-dashed);
                width:100%;
            }
        }
    }

    code {
        &:before {
            content: attr(slot);
            float: right;
            margin-inline-end: calc(-1 * var(--space-1));
            margin-block-start: calc(-1 * var(--space-2));
            text-transform: uppercase;
            background-color: var(--color-foregrowund);
            padding: var(--space-1);
            text-box-trim: trim-both;
            text-box-edge: cap alphabetic;
        }
    }

    [role=tablist]:has([name=html]:not(:checked)) ~ .tab-content pre[data-lang=html],
    [role=tablist]:has([name=css]:not(:checked)) ~ .tab-content pre[data-lang=css],
    [role=tablist]:has([name=js]:not(:checked)) ~ .tab-content pre[data-lang=js] ,
    [role=tablist]:has([name=result]:not(:checked)) ~ .tab-content iframe {
        display: none;
    }
    [role=button]:has([name=soft-warp]:checked) ~ .tab-content code {
        white-space: pre-wrap;
    }
}