@import "../libs/highlight/styles/github-dark.css";

:host {
    display: flex;
    flex-direction: column;
    /*background-color: var(--color-muted) ;*/
    --outline: 2px solid var(--component-border);
    --outline-dashed: 2px dashed var(--component-border);
    /*--outline: none;*/
    --background-color: hsl(from var(--color-foregrowund) h s calc(l - 20) / 50%);
    border: var(--outline);


    iframe {
        display: block;
        /*width: 100%;*/
        /*width: -webkit-fill-available;*/
        background-color: var(--background-color);
        border: var(--outline);
    }
    .tab-buttons {
        display: flex;
        flex-direction: row;
        gap: var(--space-1);
        margin-block-end: -1px;

        label {
            background-color: var(--component-bg);
            z-index: 1;
            border-block-end: var(--outline);
        }
        label:has(:checked){
            border: var(--outline);
            border-block-end: none;
        }

        label:has([name=soft-warp]){
            margin-inline-start: var(--space-4) ;
        }
    }
    pre {
        margin: 0;

    }
    /* Layout */
    pre.panes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: var(--outline) !important;
        overflow-x: auto;
        @media (orientation: portrait) {
            flex-direction: column;
        }
        code,iframe{
            flex: 1 1 0;
            min-block-size: fit-content;

        }
    }

    code {
        padding-block: var(--space-2);
        padding-inline: var(--space-1);
        position: relative;
        display: inline-block;
        border-inline-end: var(--outline-dashed);
        background-color: var(--background-color);
        overflow-x: auto;
        box-sizing: border-box;
        width: 100%;
        @media (orientation: portrait) {
            border-inline-end: none;
            border-block-end: var(--outline-dashed);
        }


        &:before {
            content: attr(slot);
            float:right;
            margin-inline-end:calc(-1 * var(--space-1));
            margin-block-start:calc(-1 * var(--space-2));
            text-transform: uppercase;
            background-color: var(--color-foregrowund);
            padding: var(--space-1);
        }
    }

    .tab-buttons:has([name=html]:not(:checked)) ~ pre [slot=html],
    .tab-buttons:has([name=css]:not(:checked)) ~ pre [slot=css],
    .tab-buttons:has([name=js]:not(:checked)) ~ pre [slot=js] {
        display: none;
    }
    .tab-buttons:has([name=soft-warp]:checked) ~ pre code{
        white-space: pre-wrap ;
    }
}