@import '../base.css';

:root {
    --color-shade: #222;
    --color-text: #fff;
    --color-shade-2: rgb(134, 146, 161);
    --color-shade-3: rgb(51, 53, 54);
    --color-shade-warm: #1c1917;
    --color-bright: rgb(51, 53, 54);


}

body, html {
    padding: 0;
    margin: 0;
}

body {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--color-shade-warm);
    gap: 1em;

    #codeSnippets {
        overflow: auto;

        height: 100vh;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 90em;

        direction:rtl;
        &>*{
            direction:ltr
        }
    }
}

#toc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    max-width: 800px;

}

.active {
    outline: 0.5em solid var(--color-bright);
}

canvas {
    background-color: rgba(187, 187, 187, 0.71);
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1;
}

.code-section {
    /* typography */
    color: #c9d1d9;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;

    /* layout */
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    row-gap: 1em;
    background-color: hsl(210deg 3.11% 23.91% / 71%);
    anchor-name: --code-section;
    position: relative;

    border-radius: 1em;
    border: .2em solid;

    /* direction*/


    canvas {
        background-color: transparent;
        position: absolute;
        width: 100px;
        top: 0;
        right: 0;
        z-index: -10;
    }

    pre {
        padding: 1em;
        margin: 0;
        overflow: auto;
        white-space-collapse: preserve-breaks;

        code {
            white-space: pre-wrap;
        }
    }
}