@view-transition {
    navigation: auto;
}
#main-content{
    view-transition-name: main-content-frame;
}

@keyframes move-out {
    from {
        transform: rotateY(0deg);
        opacity: 1;
        /*transform: translateY(0%);*/
    }

    to {
        transform: rotateY(-45deg);
        opacity: 0;
        /*transform: translateY(100%);*/
    }
}

@keyframes move-in {
    from {
        transform: rotateY(-45deg);
        opacity: 0;
        /*transform: translateY(-100%);*/
    }

    to {
        opacity: 1;
        transform: rotateY(0%);
        /*transform: translateY(0);*/
    }
}

/* Apply the custom animation to the old and new page states */
::view-transition-image-group(main-content-frame){}

::view-transition-image-pair(main-content-frame) {
    perspective: 600px;
    /*perspective-origin: 50% 50%;*/

}
::view-transition-old(main-content-frame) {
    transform-style: preserve-3d;
    transform-origin: right center;
    animation: 0.5s ease-in forwards move-out;
}

::view-transition-new(main-content-frame) {
    transform-style: preserve-3d;
    transform-origin: left center;
    animation: 0.5s ease-in forwards move-in;
}