#theme-toggle {
    background-color: var(--component-bg);
    bottom: var(--space-4);
    right: var(--space-4);

    &:hover {
        border-color: var(--component-border);
        background-color: var(--component-hover);
    }
}

#tabs-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: var(--color-background);
    box-shadow: var(--shadow-md);
    top: 0;
    left: 0;
    right: 0;
    width: max-content;
}

#bottom-bar {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    position-anchor: --content-frame;
    top: anchor(top);
    left: var(--space-2);
    right: var(--space-2);
    /*justify-content: space-between;*/
    align-items: flex-end;
    /*line-height: 2em;*/

    z-index: var(--z-index-above-absolute);
    padding: var(--space-1);

    pointer-events: none; /* to prevent interaction with iframe beneath it*/
    transform: translateY(100%);
    * {
        pointer-events: auto; /* to allow interaction inputs inside it */
    }

    @media (orientation: portrait) {
        position: fixed;
    }

}

fancy-recorder {
    position: absolute;
    inset-inline: 0;
    position-anchor: --content-frame;
    bottom: anchor(bottom);
    right: anchor(right);
    left:auto;
    margin: var(--space-1);
    &[disabled]{
        display: none;
    }
}

.my-name {
    -webkit-text-stroke: 1px var(--text-primary);
    color: transparent;
    font-family: var(--font-family-mono);
    word-spacing: -0.3em;
    opacity: 1;
    transition:
            opacity 0.3s 0.5s,
            word-spacing 0.3s 0.5s;
    @starting-style{
        word-spacing: -3.2em;
        opacity: 0;
    }
}