button#sidebar-toggle-button {
    &::before{
        content: '☰ Glossary';
    }
    width:max-content;
    top: 0;
    left:100%;
    transform: translateX(0);
    z-index: calc(var(--z-index-popover) + 1);
    transition: transform var(--transition-slow)  allow-discrete;
    @media (orientation: landscape) {
        display: none;
    }

    .open &{
        transform: translateX(-100%);
        &::before{
            content: "X close";
        }
    }
}

#sidebar {
    anchor-name: --sidebar;
    display:flex;
    flex-direction: column;
    position: relative;
    width: var(--sidebar-width);
    background-color: var(--component-bg);
    background-clip: padding-box;
    border-right: 6px solid var(--component-border);
    border-block: 6px solid var(--component-border);
    padding: var(--space-4);
    border-image: linear-gradient(to left, var(--color-border) 2px, transparent 2px, transparent 4px, var(--color-border) 4px, transparent 40px) 6;
    transition: transform 0.3s ease;

    @media (orientation: landscape) {
        height: 100vh;
    }
    @media (orientation: portrait) {
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: var(--z-index-popover);
        background-color: hsl(from var(--component-bg) h s l/ 1 );
        border: none;
        border-top-right-radius: var(--radius-2xl);
        border-bottom-right-radius: var(--radius-2xl);
        align-self: anchor-center;
    }

    &.open{
        transform: translateX(0);
    }
}


.sidebar-header {
    margin-block: var(--space-4);
    margin-block-end: var(--space-1);
}

.sidebar-title {
    margin:0;

    .last-letter{
        transform: rotate(-10deg);
        display: inline-block;
        margin-inline-start: 0.1em;
    }
    a {
        text-decoration: none;
    }
}

.sidebar-subtitle {
    font-size: var(--font-size-sm);
}

.sidebar-link > :not(a) {
    display: none;
}

a.sidebar-link, .sidebar-link > a {
    display: block;
    padding: var(--space-2);
    color: var(--text-primary);
    text-decoration: none;
    border-radius: var(--radius-md);
    transition: background-color var(--transition-normal);

    &:hover {
        background-color: var(--component-hover);
        position: relative;

        &:before {
            content: '>_';
            left: -0.0em;
            position: absolute;
        }

    }

    &:target, &[aria-selected=true] {
        background-color: var(--color-primary);
        color: var(--color-background);
        position: relative;

        &::after {
            position: relative;
            content: '↵';
            color: var(--text-primary);
            /*left:-1em;*/
        }
    }

    &:is(:target,hover)::before {
        content: '>';
        color: var(--text-primary);
        position: absolute;
        left: -0.5em;
        padding-inline: var(--space-2);
        z-index: 1;
    }
}

.sidebar-separator {
    height: 1px;
    background-color: var(--component-border);
    margin: var(--space-3) 0;
}

.sidebar-section-title {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
    margin: var(--space-3) 0 var(--space-2);
    text-transform: full-size-kana;
    letter-spacing: 0.05em;
}
