/* Info Container */
.info-container {
    position: relative;
    background-color: var(--component-bg);
    border: 1px solid var(--component-border);
    border-radius: var(--radius-md);
    padding: var(--space-2); /* Reduced padding for compactness */
    /*box-shadow: var(--shadow-sm);*/
    gap: var(--space-2); /* Small gap between sections */
    margin: var(--space-2);
    display: block;
    transition: none;
    z-index: var(--z-index-above-absolute);
    box-shadow: var(--shadow-md), inset var(--shadow-sm);
    &:empty{
        display: none;
        white-space:nowrap;
    }
}

.info-container {
    &.top-floating {
        position: absolute;
        left: var(--space-2);
        right: var(--space-2);
        background-color: color(from var(--component-bg) srgb r g b / 0.5);
        text-shadow: hsl(from var(--text-primary) h s 0 ) 0em 0.1em .1em;
    }
    &.disapear{
        display: none;
    }

}

.info-value {
    text-transform: capitalize;
}

/* Content (Inline Layout) */
.info-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: var(--space-2); /* Space between inline items */
    font-size: var(--font-size-sm);
    align-items: baseline;
}

.info-detail {
    display: inline-flex; /* Align items horizontally */
    column-gap: var(--space-1); /* Space between words  */
    flex-wrap: wrap;
    color: var(--text-secondary);
    /*text-transform: uppercase;*/

    :is(&, & *)[data-value=""],
    :is(&, & *)[data-value="undefined"] {
        display: none;
    }
}

.info-detail strong {
    color: var(--text-primary); /* Highlight labels */
}

/* bottom-bar */
.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-2);
    justify-content: space-between;
}

/* Actions (Buttons) */
.info-actions {
    display: flex;
    gap: var(--space-2); /* Small gap between buttons */
}

.info-actions .button-base:hover {
    background-color: var(--color-primary-hover);
}

