@view-transition {
    navigation: auto;
}

#project-info {
    view-transition-name: project-info-pannel;
}

@keyframes dust  {
    from {
        opacity: 1;
        filter: blur(20px);
    }

    to {
        opacity: 0;
        filter: blur(0);
    }
}


::view-transition-group(project-info-pannel) {
}

::view-transition-old(project-info-pannel) {
    animation: 0.3s ease-in-out forwards dust;

}

::view-transition-new(project-info-pannel) {
    animation: 0.3s ease-in-out reverse dust;
}

/* Create a custom animation */

/*
https://developer.mozilla.org/en-US/docs/Web/API/View_Transition_API/Using
figcaption {
     view-transition-name: figure-caption;
 }
::view-transition
├─ ::view-transition-group(root)
│ └─ ::view-transition-image-pair(root)
│     ├─ ::view-transition-old(root)
│     └─ ::view-transition-new(root)
└─ ::view-transition-group(figure-caption)
  └─ ::view-transition-image-pair(figure-caption)
      ├─ ::view-transition-old(figure-caption)
      └─ ::view-transition-new(figure-caption)

*/