@import "../../base.css" layer(base);
@import "./components/variables.css" layer(base);
/* elements with Id */
#main-header {
    a {
        text-decoration: none;
        border-bottom: .1em solid transparent;
        &:hover {
            background-color: var(--component-hover);
            border-bottom: .1em solid currentColor;
        }
    }
    h1 {
        @media (orientation: landscape) {

        }
        @media (orientation: portrait) {
            display: flex;
            flex-flow: nowrap;
            white-space: nowrap;
            justify-content: center;
            font-size: min(3em, 11dvw);
        }
    }
}
#about-me{
    ul{
        margin: var(--space-1);
        list-style:disc;
        list-style-position: inside;
        font-size: var(--font-family-base);
        li{
            margin-block-end: var(--space-2);
        }
    }
}
#avatar {
    height: 38rem;

    z-index: -1;

    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    aspect-ratio: 1;
    [data-theme="light"] & {
        background-image: url(../../assets/grow-avatar-2.png);
    }
    [data-theme="dark"] & {
        background-image: url(../../assets/green-avatar.svg);
    }
    @media (orientation: landscape) {
        left: -8rem;
        position: absolute;
        opacity: 0.8;
        padding: var(--space-2);
        width: 30em;
        translate: -.5em 0;
    }
    @media (orientation: portrait) {
        height: 5rem;
    }
}

#particles-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index:var(--z-index-above-absolute);*/
    animation: parallax linear both;
    animation-timeline: scroll();
    /*z-index: -1;*/

    canvas {
        position: absolute;
        inset: 0;
        transform-style: preserve-3d;
        will-change: transform;

    }

    perspective: 1000px; /* Depth of the scene */
    perspective-origin: center 20%;
    overflow: clip;
    --color-mix-1: color-mix(in oklch, var(--color-muted), hsl(120deg 90% 50%) 0%);
    --color-mix-2: color-mix(in oklch, var(--color-muted), hsl(120deg 50% 50%) 0%);
    canvas:nth-child(1) {
        --deep: 1;
        transform-origin: top;
        transform: rotateX(-90deg);
        --bg-stop-1: var(--color-mix-1);
        --bg-stop-2: var(--color-mix-2);
    }
    canvas:nth-child(2) {
        --deep: 2;
        transform-origin: right;
        transform: rotateY(-90deg);
        --bg-stop-1: var(--color-mix-1);
        --bg-stop-2: var(--color-mix-2);
    }
    canvas:nth-child(3) {
        --deep: 3;
        transform-origin: left;
        transform: rotateY(90deg);
        --bg-stop-1: var(--color-mix-1);
        --bg-stop-2: var(--color-mix-2);
    }
    canvas:nth-child(4) {
        --deep: 4;
        transform-origin: bottom;
        transform: rotateX(90deg);
        --bg-stop-1: var(--color-mix-1);
        --bg-stop-2: var(--color-mix-2);
    }
    canvas:nth-child(5) {
        --deep: 5;
        transform-origin: center;
        transform: translateZ(-1000px);
        --bg-stop-1: var(--color-mix-1);
        --bg-stop-2: var(--color-mix-2);
    }
}

@keyframes parallax {
    to {
        /*transform: translateZ( calc( (var(--deep) - 1) * -1px))  translateY(calc(var(--deep) * 100px));*/
        perspective-origin: center 80%;
    }
}

#project-cards {
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--space-4);
    justify-content: center;

    @media (orientation: landscape) {
        /*grid-template-columns: repeat(auto-fill, 20em);*/
        grid-template-columns: 20em 20em 20em;
    }
    @media (orientation: portrait) {
        grid-template-columns: 1fr;
    }
    .card {
        padding: 0;
    }
}

flipping-card {
    aspect-ratio: 1/ .56;
    --front-bg: var(--component-bg);
    --back-bg: var(--color-background);
    border-radius: var(--radius-md);

    animation: flipping-in 1s 2 linear both normal;

    animation-timeline: view(block);
    animation-range: entry 100% entry 250%;

    &.tiz .flip-card-inner {
        --angle-2: var(--angle);
        transform: rotateY(var(--angle-2));
    }

    figure {
        overflow: clip;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        img {
            width: auto

        }
    }
    p {
        text-align: center;
        flex: 1;
    }

    .tags {
        justify-content: center;
    }
    h3, h4 {
        margin-block-end: var(--space-2);
        color: var(--text-secondary);
        text-align: center;
    }
    h3[slot="front"] {
        position: absolute;
        inset: 0;
        top: auto;
        background-color: var(--component-bg);
    }

}

flipping-card::part(back) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-1);
    text-align: left;
    gap: var(--space-2);
}

flipping-card::part(front) {
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-2);
}

